<nav class="navbar navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header flex-parent">
      <span class="circle flex-child"><img src="assets/icons/CloseX_35x35.png"></span>

      <div class="flex-child logo ideaTitle">
        Your Idea
      </div>
      <span class="flex-child">
        <span class="publishBtn flex-child" ng-click="submit(idea, video)">Publish</span>
      </span>
    </div>
  </div>
</nav>
<div class="container-fluid fullScreen createForm">
  <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
  <progressbar ng-hide="progress === 0" animate="true" value="progress" type="success"
               class="progress-striped active"><b>Uploading {{progress}}%</b></progressbar>
  <div class="text-uppercase createIdeaForm">
    <div class="form-group  ">
      <label for="nameInput" class="col-xs-2 control-label">Title:</label>

      <div class="col-xs-10">
        <input type="text" class="form-control" id="nameInput" placeholder="Enter title for your idea"
               ng-model="idea.title">
      </div>
    </div>
    <div class="form-group  ">
      <label for="authorInput" class="col-xs-2 control-label">Author:</label>

      <div class="col-xs-10">
        <input type="text" class="form-control" id="authorInput" placeholder="Enter your name" ng-model="idea.author">
      </div>
    </div>
    <div class="form-group ">
      <label for="contentInput" class="col-xs-2 control-label">Content:</label>
      <span class="btn btn-default btn-circle btn-file glyphicon glyphicon-facetime-video">
           <input type="file" id="videoInput" ngf-select="" ng-model="video" name="file" required=""
                  class="ng-pristine ng-invalid ng-invalid-required">
      </span>
        <textarea rows="4" class="form-control" id="contentInput" placeholder="Content of the idea"
                  ng-model="idea.content"></textarea>
    </div>
    <div class="form-group ">
      <label for="summaryInput" class="col-xs-2 control-label">Summary:</label>

        <textarea rows="4" class="form-control" id="summaryInput" placeholder="Summary of the idea"
                  ng-model="idea.summary"></textarea>

    </div>
    </form>
  </div>
</div>
