.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.nav-center {
  margin: 0;
  float: none;
}

.flex-parent {
  display: flex;
  align-items: stretch;

  :last-child {
    color: #fd3427;
  }

  .flex-child {
    display: flex;
    align-items: center;
  }

  .logo {
    flex: 2 0 50px;
    justify-content: center;
  }
}

.navbar-inner {
  text-align: center;
}

.navbar {
  margin: 0px;
  background-color: #FFFFFF;
  img {
    max-height: 50px;
  }

  .circle {
    height: 34px;
    width: 34px;
    border-radius: 50%;
    padding-left: 10px;
    padding-top: 9px;
    /*border: 1px solid #BADA55;*/
    color: #fff;

    img {
      position: relative;
      top: -3px;
      left: -1px;
      width: 15px;
      height: 15px;
    }
  }

  .circle-blue {
    background: #0000ff;
  }

  .circle-red {
    background: #fd3427;
    transform: scaleX(-1);
    margin-right: 5px;
  }

  .circle-white {
    background: transparent;
    margin-right: 5px;
    border: 1px solid #e5e5e5;
    color: #cc5400;
  }
}

.thumbnail {
  height: 200px;

  img.pull-right {
    width: 50px;
  }
}

.leftJustify {
  float: left;
}

.rightJustify {
  float: right;
}

.centeredJustify {
  width: 100%;
  margin: 0 auto;
}

.container-fluid.fullScreen {
  margin-top: 50px;
  padding: 0;
  height: 100%;
}

.list-group {
  .vote {
    padding: 0;
    border: 0;
  }

  .title {
    color: #000088;
    font-size: 22px;
    margin: 20px 20px 0;
  }

  .by {
    margin: 5px 20px 10px 20px;
    span {
      font-style: italic;
    }
  }

  .vote-percent {
    width: 100%;
  }

  .vote-content {
    height: 233px;
    display: block;
    margin: 20px;
  }

  .panel {
    margin: 20px;

    p {
      font-weight: bold;
      margin: 0;
    }
  }

  .divider {
    border-bottom: solid 1px #D3D3D3;
  }
}

.createIdeaForm {
  padding-top: 10px;
  form, input, textarea {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
  }

  input, label, textarea {
    display: inline-block;
    vertical-align: baseline;
  }

  input, textarea {
    padding: 0;
    border: 0;
    border-radius: 0;
    background: 0 0;
    box-shadow: none !important;
  }

  .form-group {
    border-bottom: 1px solid #adadad;
    min-height: 30px;
  }

  label {
    font-size: 0.8em;
    font-weight: bold;
    text-align: left;
  }

  .form-control {
    height: inherit;
  }

  textarea{
    padding: 10px;
  }

  .btn-file {
    position: relative;
    overflow: hidden;
    float:right;
    color:#ec6e19;
  }
  .btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;

  }
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;

  &.btn-lg{
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 25px;
  }
  &.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    font-size: 24px;
    line-height: 1.33;
    border-radius: 35px;
  }
}

.createForm {
  background: #eeeeee;
}

/* Do not remove this comments bellow. It's the markers used by gulp-inject to inject
   all your sass files automatically */
// injector
// endinjector
