@font-face {
  font-family: NBS;
  src: url('../assets/fonts/nbs-light-webfont.ttf');

}

body {
  font-family: "NBS";
}

div.alert {
  text-align: center;
  margin-bottom: 0px;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.nav-center {
  margin: 0;
  float: none;
}

.flex-parent {
  display: flex;
  align-items: stretch;

  :last-child {
    color: #fd3427;
  }

  .flex-child {
    display: flex;
    align-items: center;
  }

  .logo {
    flex: 2 0 50px;
    justify-content: center;
  }
}

.navbar-inner {
  text-align: center;
}

.navbar {
  margin: 0px;
  background-color: #FFFFFF;
  img {
    max-height: 50px;
  }

  .circle {
    height: 34px;
    width: 34px;
    border-radius: 50%;
    padding-left: 10px;
    padding-top: 9px;
    /*border: 1px solid #BADA55;*/
    color: #fff;

    img {
      position: relative;
      top: -3px;
      left: -1px;
      width: 15px;
      height: 15px;
    }

    .idea {
      width: 12px;
      height: 18px;
    }
  }

  .circle-blue {
    background: #0000ff;
  }

  .circle-red {
    background: #fd3427;
    transform: scaleX(-1);
    margin-right: 5px;
  }

  .circle-white {
    background: transparent;
    margin-right: 5px;
    border: 1px solid #e5e5e5;
    color: #cc5400;
  }

  .ideaTitle {
    font-size: 20pt;
  }

  .publishBtn {
    font-size: 18pt;
  }
}

.thumbnail {
  height: 200px;

  img.pull-right {
    width: 50px;
  }
}

.leftJustify {
  float: left;
}

.rightJustify {
  float: right;
}

.centeredJustify {
  width: 100%;
  margin: 0 auto;
}

.container-fluid.fullScreen {
  margin-top: 50px;
  padding: 0;
  height: 100%;
  background-color: rgb(238, 238, 238);
}

.container-fluid.person {
  margin: 15px;
  background-color: rgb(255, 255, 255);
  border-radius: 3px;
  border: 1px solid rgb(214, 214, 214);
  padding: 0px;
  h3 {
    margin-top: 0px;
    font-size: 16pt;
    color: rgb(24, 60, 195);
    margin-left: 10px;
  }
  .authorText {
    margin-left: 10px;
    font-size: 8pt;
  }
  .summaryText {
    margin-left: 10px;
    font-size: 11pt;
  }
  .buttonDiv {
    margin-bottom: 10px;
    button {
      border-color: rgb(214, 214, 214);
    }
    .smallButton {
      margin-top: 10px;
      color: rgb(236, 110, 25);
      background-color: rgb(255, 255, 255);
      height: 40px;
      width: 40px;
      border-radius: 20px;
    }
    .right {
      float: right;
      margin-right: 30px;
      span {
        font-style: italic;
      }
    }
    .left {
      float: left;
      margin-left: 30px;
    }
    .medButton {
      margin: 0 14px;
      height: 50px;
      width: 50px;
      border-radius: 25px;
      background-color: rgb(255, 255, 255);
      overflow: hidden;
      img {
        height: 25px;
        width: 25px;
      }
      span {
        font-size: 20pt;
      }
    }
    .largeButton {
      height: 60px;
      width: 60px;
      border-radius: 30px;
    }
    .red {
      color: rgb(255, 255, 255);
      background-color: rgb(184, 44, 44);
      font-size: 16px;
      float: left;
      margin-left: 20px;
      .inverse {
        transform: scaleX(-1);
      }
    }
    .blue {
      color: rgb(255, 255, 255);
      background-color: rgb(23, 60, 195);
      font-size: 16px;
      margin-left: 20px;
    }
    .redInverted {
      color: rgb(184, 44, 44);
      background-color: rgb(255, 255, 255);
      border-color: rgb(214, 214, 214);
      font-size: 16px;
      float: left;
      margin-left: 20px;
      .inverse {
        transform: scaleX(-1);
      }
    }
    .blueInverted {
      color: rgb(23, 60, 195);
      background-color: rgb(255, 255, 255);
      border-color: rgb(214, 214, 214);
      font-size: 16px;
      float: left;
      margin-left: 20px;
    }
  }
}

.container-fluid.ideaList {
  background-color: rgb(255, 255, 255);
  margin: 0px;
  padding: 0px;
  p.listHeader {
    font-size: 12pt;
    margin-left: 15px;
    margin-bottom: 0px;
  }
  .container-fluid {
    padding: 0px;
  }
  .list-group {
    border-width: 0px;
  }
  .list-group-item {
    border-width: 0px;
    video {
      width: 30%;
    }
    div {
      display: inline-block;
    }
  }
}

.list-group {
  margin-bottom: 0;
  p {
    margin: 0px 10px;
    padding-bottom: 10px;
  }
  .vote {
    padding: 0;
    border: 0;
    img {
      max-width: 360px;
    }
  }

  .title-bar {
    width: 100%;
    display: inline-block;

    .title {
      display: inline-block;
      color: #000088;
      font-size: 22px;
      margin: 20px 20px 0;
      float: left;
      width: 250px;
    }

    img {
      display: inline-block;
      margin-top: 20px;
    }
  }

  .author {
    margin: 5px 20px 10px 20px;
    span {
      font-style: italic;
    }
  }

  .vote-percent {
    width: 100%;
  }

  .vote-content {
    height: 233px;
    display: block;
    margin: 20px;
  }

  .panel {
    margin: 20px;
    box-shadow: none;

    p {
      font-weight: bold;
      margin: 0 0 10px;
    }

    img {
      width: 320px;
      height: 180px;
    }
  }

  .content-result-detail > div {
    font-weight: bold;
  }
  .content-result-item {
    max-width: 100%;
    max-height: 100%;
  }
  .content-detail-success {
    color: green;
  }
  .content-detail-failed {
    color: red;
  }
  .content-detail-desc {
    font-weight: normal !important;
  }
  li {
    margin-bottom: 4px;
    font-weight: bold;
    div, span {
      font-weight: normal;
    }
  }

  .divider {
    border-bottom: solid 1px #D3D3D3;
  }
}

.createIdeaForm {
  padding-top: 10px;
  form, input, textarea {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
  }

  input, label, textarea {
    display: inline-block;
    vertical-align: baseline;
  }

  input, textarea {
    padding: 0;
    border: 0;
    border-radius: 0;
    background: 0 0;
    box-shadow: none !important;
  }

  .form-group {
    border-bottom: 1px solid #adadad;
    min-height: 30px;
  }

  label {
    font-size: 0.8em;
    font-weight: bold;
    text-align: left;
  }

  .form-control {
    height: inherit;
  }

  textarea {
    padding: 10px;
  }

  .btn-file {
    position: relative;
    overflow: hidden;
    float: right;
    color: #ec6e19;
  }
  .btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;

  }

  progressbar {
    padding: 10px;
  }
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;

  &.btn-lg {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 25px;
  }
  &.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    font-size: 24px;
    line-height: 1.33;
    border-radius: 35px;
  }
}

.createForm {
  background: #eeeeee;
}

.pillButtons {
  margin-left: 20px;
  p {
    margin: 0px;
  }
  .pillButton {
    color: rgb(255, 255, 255);
    padding: 0px 25px;
    border-radius: 10px;
    .inverse {
      transform: scaleX(-1);
    }
  }
  .blue {
    background-color: rgb(23, 60, 195);
  }
  .red {
    background-color: rgb(184, 44, 44);
  }
}

.thumbnailImage {
  max-width: 40%;
}

/* Do not remove this comments bellow. It's the markers used by gulp-inject to inject
   all your sass files automatically */
// injector
// endinjector
