<div ng-include="'app/components/navbar/navbar.html'"></div>
<div class="container-fluid fullScreen">
  <div class="container-fluid person">
    <video ng-src="{{person.video}}" video-controls width="100%"></video>
    <h3 class="list-group-item-text" ng-bind="person.title"></h3>
    <p class="authorText" ng-bind="person.author"></p>
    <p class="summaryText" ng-bind="person.summary"></p>
    <div class="buttonDiv">
      <button role="button" class="btn smallButton left"><span class="glyphicon glyphicon-share"></span></button>
      <button role="button" class="btn largeButton red"><span class="glyphicon glyphicon-thumbs-down inverse"></span><span ng-bind="' ' + person.votesNeg"></span></button>
      <button role="button" class="btn largeButton blue"><span class="glyphicon glyphicon-thumbs-up"></span><span ng-bind="' ' + person.votesPos"></span></button>
      <button ng-click="goToVote()" role="button" class="btn smallButton right"><span>i</span></button>
    </div>
  </div>
  <div class="container-fluid ideaList">
    <div class="container-fluid">
      <p class="listHeader">Your Vote, Your Say</p>
      <div class="list-group">
        <a ng-repeat="idea in ideas" ui-sref="vote({type:'idea', id:'{{idea.id}}'})" class="list-group-item">
          <video ng-src="{{person.video}}"></video>
          <div class="pillButtons">
            <p ng-bind="idea.title"></p>
            <span class="pillButton red"><span class="glyphicon glyphicon-thumbs-down inverse"></span><span ng-bind="' ' + idea.votesNeg"></span></span>
            <span class="pillButton blue"><span class="glyphicon glyphicon-thumbs-up"></span><span ng-bind="' ' + idea.votesPos"></span></span>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
